
:root {

  /* original  #420098*/
    --original: #420098;
  
    --white: #ffffff;
  }
  

/* HERO*/





/* HERO*/




/* LOGIN*/


.divlogin{

  width: 90%;
  margin: 50px auto ;
  text-align: center;
}


.divlogin label{
  
  font-style: oblique;
}


.divlogin h1{

animation: fluido 10s ease-in-out infinite;
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 300%;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

@keyframes fluido {

  0% { background-position: 0 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0 50% }
}

.formlogin {

transition: black 8s linear 5s;
width: 100%;
padding: 58px 44px;
border: 1px solid #e1e2f0;
border-radius: 4px;
box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
transition: all 0.3s ease;

}


.formlogin label {

display: block;
font-size: 12px;
text-align: left;
}

.formlogin .form-group {

margin: 5px 0;
position: relative;
}

.formlogin .form-group .line {

position: absolute;
width: 100%;
left: 0;
bottom: 0;
background-color: var(--original);
height: 2px;
transition: transform 200ms ease;
transform: scaleX(0);
transform-origin: left;
}

.formlogin .form-group input:focus + .line {

transform: scaleX(1);

}



.formlogin input {

width: 100%;
border: none;
border-bottom: 1px solid #ccc;
outline: none;


}






#divErrorlogin{

margin-top: -100px;
font-size: 15px;
width: 100%;

}






/* LOGIN*/


