
:root {

  /* original  #420098*/
    --original: #420098;
  
    --white: #ffffff;
  }
  

/* BTN*/

/*En tu hoja de estilos */
a:link, a:visited, a:active {
  text-decoration:none;
}

h1,h2,h3,h4,h5{
color: var(--original);

}



li{
  list-style: none;
  padding-left: 0;
}


/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

.divcover {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background: var(--original);
  height: 100vh;
}

.divcover h1{

  color: white;
}


.btnone{
  
  background: var(--original);
  color: white;
}

.btnone:hover{
  
  
  font-weight: 500;
  background: var(--original);
  color: white;
  
}


.btntwo{
  
  background: white;
  color: var(--original);
  box-shadow: 0 0 5px var(--original);
}

.btntwo:hover{
  
  
  font-weight: 500;
  
  color: var(--original);
  
}

/* BTN*/







/* MENU */

.itemmenu a{ 

  color: var(--original);
  




}

.itemmenu:hover{ 

  background: var(--original);
  color: white;


}

.itemmenu a:hover{ 

  background: var(--original);
  color: white;


}



/* MENU */





/* LOGIN*/


.divlogin{

  width: 100%;
  height: 100vh;
  background: var(--original);
  text-align: center;
  padding:80px 15px 15px;
}


.divlogin label{
  
  font-style: oblique;
}


.divlogin h1{

animation: fluido 10s ease-in-out infinite;
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 300%;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

@keyframes fluido {

  0% { background-position: 0 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0 50% }
}

.formlogin {
margin: auto;
transition: black 8s linear 5s;
width: 100%;
max-width: 500px;
padding: 35px 20px 35px 20px;
border: 1px solid #e1e2f0;
border-radius: 4px;
box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
background: white;
transition: all 0.3s ease;

}


.formlogin label {

display: block;
font-size: 12px;
text-align: left;
}

.formlogin .form-group {

margin: 5px 0;
position: relative;
}

.formlogin .form-group .line {

position: absolute;
width: 100%;
left: 0;
bottom: 0;
background-color: var(--original);
height: 2px;
transition: transform 200ms ease;
transform: scaleX(0);
transform-origin: left;
}

.formlogin .form-group input:focus + .line {

transform: scaleX(1);

}



.formlogin input {

width: 100%;
border: none;
border-bottom: 1px solid #ccc;
outline: none;


}






#divErrorlogin{

margin-top: -100px;
font-size: 15px;
width: 100%;

}






/* LOGIN*/

.offcanvas-body table {
  width: 100%;
  
}


.offcanvas-body table tr td {
  
  
  font-size: 14px;
}

.offcanvas-body button{

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

}
.offcanvas-body button:hover{

color: white;
background: var(--original);

}





/* ventana emergente*/

.divventanaemergente{

height: 10vh;
background: var(--original);


}




.divventanaemergente input[type=text]{

  box-shadow: 0 0 1px var(--original);
  color: var(--original);
  
  }



.divventanaemergente img{


width: 200px;

 }





 .divventanaemergente img:hover{

  opacity: 0.5;
  transition: .3s linear;
}








input[type=search]{

  width: 200px;
  height: 10px;
  font-size: 11px;
  box-shadow: 3px var(--original);
  
  outline: none;

}

input[type=search]:focus{


  
  box-shadow: 0 3px 0 0 var(--original);

}


.btntablecopy
{
width: 25px;
height: 25px;
background: url(../Imagenes/iconocopy.png) no-repeat;
background-size: 100%;
}

.btntablecopy:focus{
box-shadow: 0 0 5px var(--original);
}

.divventanaemergente{
  padding-top: 20px;
  padding-bottom: 20px;
  

}



.divventanaemergente table{
  font-size: 13px;
  

}

.divventanaemergente td{
  max-width:100%;
  white-space:nowrap;
}


.divDirectorio iframe{

  height: 500px;
  
  width: 100%;
  overflow:hidden;
  border:0;
}



/* *****************************************************************************************  */


.conteinfo{

  padding: 20px 5px 5px 5px;

}


.infoTigulo{
  background: var(--original);
  text-align: center;
  color: white;


}

.articulo{

  -webkit-box-shadow:0px 1px 1px var(--original);
  -moz-box-shadow:0px 1px 1px var(--original);
  box-shadow:0px 1px 1px var(--original);
  margin-bottom: 20px;

}


.infotexto{

  padding: 0 15px 5px 20px;
  white-space:pre;
}



.divfecha{

 font-size: 11px;
 float: right;
 margin-right: 5px;
}






/* ventana emergente checklist*/

.info img{

  margin-left: 5px;
  width: 14px;
  height: 14px;
}


.indicadoEstado{

  background: red;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -15px;
  margin-top: 6px;
  border-radius: 100%;
}


.divFormCheck select{

  width: 100px;
  height: 25px;
  font-size: 10px;
}


.divFormCheck input[type=text]{

  width: 200px;
  height: 23px;

}



.result{

  margin-top: 5px;
  margin-left: 30px;

}


.item{

  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 8px;
  font-style: italic;
  font-size: 15px;
}

.numberRe{

  font-weight: 800;
}


.divocultoitem{

  padding: 10px 10px 15px 30px;
  display: none;
  background: #f5f5f5;
  color: black;
  font-weight: 100;

}


/* ventana emergente checklist*/












/* ventana emergente*/





/* ESTRUCTURA DOCUMENTADOR */


.textareaoculto textarea{


  width: 0px;
  height: 0px;
  border: none;
  outline: none;
  box-shadow: none;
  position: fixed;
  bottom: 0;
  left: 0;
  
  
  }


.divinterfaz{
margin: auto;
  width: 90%;
  
  max-width: 400px;
}

.divinterfaz textarea:focus{
  box-shadow: 0 0 3px 0 var(--original);
}



.divinterfaz select{
  font-size: 11px;
  height: 23px;
  width: 100%;
  box-shadow: 0 0 2px 0 var(--original);
  }
  
.divinterfaz select:focus
{
    box-shadow: 0 0 3px 0 var(--original);
}

.divinterfaz input[type=text] 
{
    height: 15px;
    font-size: 8px;
}

.divinterfaz input[type=text]:focus 
{
  box-shadow: 0 0 3px 0 var(--original);
}





.sectionmenu{



}




.sectionnotas textarea{
  height: 280px;
  background-image:url(../../Vista/Imagenes/fondotextarea.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
opacity: 100;

}


.sectionmodulos{
text-align: center;
  height: 125px;

  
}

.sectitipificacion{
  height: 80px;
  
  
}




.sectitipificacion .infotipificacion{

    font-size: 14PX;

}




.sectioninputs{
  height: 100px;
  text-align: center;
  
  
  
  
  
  
}

.sectionbuttoncopy{

  margin: auto;
  height: 140px;
  text-align: center;
  
  
  
}

.sectionbuttoncopy button{

width: 100%;

 }


 .subtoton{

  width: 30px;
  height: 30px;
  background-image:url(../../Vista/Imagenes/iconoBuscar.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size: 100%;
  float:right;
  border-radius: 50%;

}

.divhidden{

  width: 0px;
  height: 0px;
  word-wrap: break-word;
  overflow: hidden;

}



.divModal{
  
  margin:-250px auto;
  position: absolute;
  width: 215px;
  height: 190px;
  background: white;
  box-shadow: 0 0 5px 0 var(--original);
  padding: 4px 4px 4px 4px;
  font­size: 0.8em;


}

 


.sectionbuttoncopy textarea{

  width: 0px;
  height: 0px;
  border: none;
  outline: none;
  box-shadow: none;
  position: fixed;
  bottom: 0;
  left: 0;
  
  
  }



/* ESTRUCTURA DOCUMENTADOR */



/* ESTRUCTURA LOADING */


.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
